header {
    color: whitesmoke;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}
header ul li {
    display: inline;
    margin: 25px;
}
main {
    margin-top: 25px;
    padding-top: 25px;
}
footer {
    position: relative;
    padding: 10px;
    width: 100%;
    text-align: center;
    top: 1700px; 
    color: #fff7f7;
}
body{
    background-color:#f74545;
}
h1{
    position: absolute;
    left: 850px;
    top: 50px;
    color: #fff7f7;
}
h2{
    position: absolute;
    left: 850px;
    top: 50px;
    color: #fff7f7;
}
h3{
    position: absolute;
    left: 850px;
    top: 115px;
    color: #fff7f7;
}


.textos{
    position: absolute;
    width: 502px;
    height: 173px;
    left: 347px;
    top: 248px;
    font-family: 'Besley';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #fff7f7;
}
.textos2{
position: absolute;
width: 913px;
height: 122px;
left: 450px;
top: 1066px;
font-family: 'Besley';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 27px;
text-align: center;
color: #fff7f7;
}
.textos3{
    position: absolute;
    width: 1500px;
    height: 1000px;
    left: 189px;
    top: 900px;
    font-family: 'Besley';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #fff7f7;
}
.textos4{
    position: absolute;
    width: 1500px;
    height: 1000px;
    left: 189px;
    top: 700px;
    font-family: 'Besley';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #fff7f7;
}
.textos5{
    position: absolute;
    width: 600px;
    height: 250px;
    left: 70px;
    top: 100px;
    font-family: 'Besley';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #fff7f7;
}
.textos6{
    position: absolute;
    width: 702px;
    height: 473px;
    left: 1000px;
    top: 300px;
    font-family: 'Besley';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #fff7f7;
}
.picbox{
    position: absolute;
    left: 899px;
    top: 297px
}

.picbox2{
    position: absolute;
    width: 269px;
    height:403px;
    left: 921px;
    top: 1226px;
}
.picbox3{
    position: absolute;
    width: 269px;
    height:403px;
    left: 401px;
    top: 1226px;
}
.picbox4{
    position: absolute;
    width: 269px;
    height:403px;
    left: 391px;
    top: 126px;
}
.picbox5{
    position: absolute;
    width: 269px;
    height:403px;
    left: 750px;
    top: 126px;
}
.picbox6{
    position: absolute;
    left: 100px;
    top: 297px
}

.fotos{
    position:absolute;
    left: 100px;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fotos_foto{
    width: 380px;
    height:380px;
    margin: 20px;
}

.formulario{
    position:absolute;
    left: 300px;
    top: 150px;
}